@media all and (max-width: 1000px) {
    .about-me p{
        padding-left: 10em;
        padding-right: 10em;
    }
}

@media all and (max-width: 670px) {
    .header-list{
        display: none;
    }

    .menu-icon{
        display: block;
        float : right;
    }

    .portofolio h1{
        font-size: 50px;
    }
    
    .portofolio h2{
        font-size: 20px;
    }

    .lesson{
        width: 100%;
    }

    .about-me p{
        padding-left: 5em;
        padding-right: 5em;
    }

    .image-list{
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .text-contents{
        padding-bottom: 20px;
    }

    input, textarea{
        width: 75%;
    }

    .contact-submit{
        width: 100px;
    }
    .footer-list {
        float: right;
        font-size: 15px;
      }
}
