*{
    margin: 0;
    padding: 0;
    font-family: "Rockwell";
    list-style: none;
}
nav ul{
    display: flex;
    list-style: none;
    column-gap: 33px;
}

.header{
    background-color: brown;
    color: white;
    display: flex;
    padding: 15px 15px;
    column-gap: 30px;
    align-items: center;
    width: 100%;
}

.header-logo{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 7px;
}

main{
    width: 100%;
    

}

main section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

main section h1{
    font-size: 100px;
}
main section h2{
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 30px;
}
main section h1 span{
    color: brown;
}

.about-me{
    flex-direction: column;
    text-align: center;
    display: flex;
    
    font-size: 10px;
    background-color: gainsboro;
    width: 100%;
    height: auto;
    padding: 15px 15px;
    line-height: 20px;
}

.about-me h1{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.about-me p{
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 50px;
    font-size: 13px;
    text-transform: capitalize;
}

.list-project{
    text-align: center;
    margin-top: 10px;
    padding: 50px 30px;
    
}

.image-list{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lesson-icon img{
    width: 70%;
  }

.lesson{
    float: left;
    width: 25%;
    align-items: center;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: black;
  }

.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

input, textarea{
    display: flex;
    justify-content: center;
    width: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #dee7ec;
    border-radius: 10px;
}

.contact-submit{
    width: 300px;
    background-color: orange;
    opacity: 0.7;
}

.footer {
    background-color: brown;
    color: #fff;
    height: 120px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 28px;
    text-transform: uppercase ;
    letter-spacing: 7px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
