*{
    margin: 0;
    padding: 0;
    font-family: "Rockwell";
    list-style: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.menu-icon{
    display: none;
    float: right;
    color: white;
    font-size: 25px;
    padding: 10px 0px;
}

nav ul{
    display: flex;
    list-style: none;
    column-gap: 33px;
}

.header{
    background-color: brown;
    color: white;
    display: flex;
    padding: 15px 15px;
    column-gap: 30px;
    align-items: center;
}

.header-logo{
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 7px;
    width: 100%;
}

main{
    width: 100%;
}

.portofolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.portofolio h1{
    font-size: 100px;

}

.portofolio span{
    color: brown;
    border-radius: 2px;
}

.portofolio h2{
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 30px;
}

main h3{
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.about-me{
    flex-direction: column;
    text-align: center;
    display: flex;
    width: 100%;
    font-size: 10px;
    background-color: gainsboro;
    height: auto;
    padding: 15px 15px;
    line-height: 20px;
}

.about-me h1{
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.about-me p{
    padding-left: 20em;
    padding-right: 20em;
    padding-bottom: 50px;
    font-size: 13px;
    text-transform: capitalize;
    line-height: 25px;
}

.list-project{
    text-align: center;
    margin-top: 10px;
    padding: 50px 30px;
    
}

.image-list{
    display: flex;
    justify-content: center;
    column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lesson-icon img{
    width: 70%;
  }

.lesson{
    float: left;
    width: 25%;
    align-items: center;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: black;
  }

.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    padding-top: 50px;
    padding-bottom: 50px;
}

.user-id{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
    width: 75%;
}

input, textarea{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #dee7ec;
    border-radius: 10px;
}

.contact-submit{
    width: 50%;
    background-color: orange;
    opacity: 0.7;
}

.footer {
    background-color: brown;
    color: #fff;
    height: 200px;
    padding: 40px;
  }
  
  .footer-logo {
    float: left;
    font-size: 28px;
    text-transform: uppercase ;
    letter-spacing: 7px;
    padding-bottom: 15px;
  }
  
  .footer-list {
    float: right;
  }
  
  .footer-list li {
    padding-bottom: 20px;
  }
